@import '~bootstrap/scss/bootstrap';

$black: #000;
$bright-red: #f00;
$white: #fff;
$banner-height: 5vh;
$gameboard-height: 80vh;
$gameboard-width: $gameboard-height;
$gameboard-color: #9effe6;
$cell-color: #fefaf7;

.banner {
  background-color: $black;
  display: flex;
  flex-direction: column;
  height: $banner-height;
  justify-content: flex-start;
}

.game-board {
  align-self: center;
  background-color: $gameboard-color;
  border-radius: 50px;
  display: flex;
  height: $gameboard-height;
  justify-content: center;
  margin: $banner-height auto;
  width: $gameboard-width;
}

.container {
  align-self: center;
  //border: 1px solid $black;
  height: 90%;
  width: 90%;
}

.row {
  height: 33.33333%;
}

.box {
  align-items: center;
  background-color: $cell-color;
  border: 4px solid $gameboard-color;
  display: flex;
  justify-content: center;
}

.failure {
  color: red;
}

.one {
  border-top-left-radius: 30px;
}

.three {
  border-top-right-radius: 30px;
}

.seven {
  border-bottom-left-radius: 30px;
}

.nine {
  border-bottom-right-radius: 30px;
}

.success {
 color: green;
}

#message {
  float: right;
}
