@import '~bootstrap/scss/bootstrap';

$black: #000;
$bright-red: #f00;
$bright-green: #0f0;
$start-button: #ff692e;
$white: #fff;
$banner-height: 8vh;
$gameboard-height: 60vh;
$gameboard-width: $gameboard-height;
$gameboard-color: #18ffd9;
$cell-color: #fefaf7;

.banner {
  align-items: center;
  background-color: $black;
  display: flex;
  height: $banner-height;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;

    form {
      margin: 0 1em;
    }
  }

  .message {
    color: $white;
    display: flex;
    margin: 0 5px;
  }
}

.box {
  align-items: center;
  background-color: $cell-color;
  border: 8px solid $gameboard-color;
  display: flex;
  font-size: 4em;
  justify-content: center;
}

.container {
  align-self: center;
  height: 90%;
  width: 90%;
}

.game-board {
  align-self: center;
  background-color: $gameboard-color;
  border-radius: 50px;
  display: flex;
  height: $gameboard-height;
  justify-content: center;
  margin: 1em auto;
  width: $gameboard-width;
}

.game-buttons {
  background-color: $start-button;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  width: 20vw;

  button {
    margin: 3px;
  }
}

.failure {
  color: $bright-red;
}

.game-counter {
  display: flex;
  flex-direction: row;

  .game-count {
    color: $start-button;
    font-style: italic;
    font-weight: bold;
    margin: 0 5px;
  }
}

.game-message {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}


.row {
  height: 33.33333%;
}

.success {
  color: $bright-green;
}
